@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>
@if (ViewBag.data != null)
{
    <p>@ViewBag.data</p>
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />

        <input type="submit" value="Upload" />

        @ViewBag.Message

    </div>
    <img src="~/img/index/28"/>


}
@*@foreach(var i in ViewBag.data)
{
    <p>@i.IMG_ID</p>
}*@