@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    @if (ViewBag.PhotoList != null)
    {
        foreach (var item in ViewBag.PhotoList)
        {
            <div class="col-sm-2 my-3">
                <div class="card" style="width: 18rem;">
                    <a href=""><img class="card-img-top" src="@Url.Content("~/img/"+ item.IMG_NAME)" class="img-responsive" alt="Card image cap"></a>

                </div>
            </div>
        }
    }


</div>