@{
    ViewBag.Title = "Home Page";
}
<style>
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
</style>
<div class="row mt-2">
    @if (ViewBag.PhotoList != null)
    {
        foreach (var item in ViewBag.PhotoList)
        {
            <div class="col-sm-2 my-2" style="width: 18rem;">
                <a href=""><img src="@Url.Content("~/img/"+ item.IMG_NAME)" class="card-img-top" alt="..."></a>
            </div>

        }
    }


</div>