@{
    ViewBag.Title = "Home Page";
}
    <div class="container my-2">
        <div class="row">
            <div class="col-sm-8 p-0">
                @if (ViewBag.PostList != null)
                {
                    foreach (var item in ViewBag.PostList)
                    { 
                        <div class="card my-4">
                            <div class="card-body">
                                <h5 class="card-title m-0">@item.USERNAME</h5>
                            </div>
                            <img src="@item.LINKED_LINK" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">@item.CAPTION</p>
                                <p class="card-text"><small class="text-muted">Posted in @item.POST_TIME</small></p>
                            </div>
                        </div>
                    }
                }
                
                
            </div>
            
        </div>
</div>
